html,body,p{
  padding:0;
  margin:0;
}

ul,li{
 color: darkgreen;
 font-weight: 600 ;
 margin-top: 50px;
}

.nav{
  width:25%;
  height:100vh;
  border-radius: 25px;
  background-color: #7f9a5a;
  float: left;


}