@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Racing+Sans+One&display=swap');

/* DASHBOARD PAGE -----------------------------------------------------------------------------------*/

body{
  background-color: #9BA3AE;
}

/* Navbar Icons*/
.Dashboard{
  position: absolute;
  
 width: 44px;
 height: 44px;
 left: 60px;
 top: 320px;
}

.Dashboard:hover {
  width: 60px;
  height: 60px;
}

.Compare{
 position: absolute;
 width: 44px;
 height: 44px;
 left: 60px;
 top: 489px;

}

.Compare:hover {
  width: 60px;
  height: 60px;
}


.Timeline{
  background-image: url("../public/Icons/Timeline.png");
  background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
  position: absolute;
  width: 44px;
  height: 44px;
  left: 60px;
  top: 628px;
 
 }

 .Timeline:hover {
  width: 60px;
  height: 60px;
}


/* Navigation Bar*/

a,ul,li{
  margin-top: 80px;
  list-style: none;
  font-weight: 900;
  text-decoration: none;
  color: aliceblue;
  margin-left: -4px;
  font-size: 20px;
    
}

.nav{
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  width: 20%;
  margin-left: 20px;
  position: absolute;
  width: 152px;
  height: 1060px;
  left: 25px;
  top: 22px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 55px;
  color:white;
  float:left;
}

.nav-container {
  height: 85vh;
  width: 85%;
  border-radius: 20px;
  margin-left: 95px;
  margin-top: 230px;

}

/* container */
.container{
 position: relative;
width: 990px;
height: 700px;
left: 270px;
top: 190px;
background: linear-gradient(96.76deg, #9B5757 29.82%, #373845 95.36%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 39px;
}

.container h1 {
 position: absolute;
 color: rgba(255, 255, 255, 0.3);
 width: 349px;
 height: 60px;
 left: 260px;
 top: 280px;
 font-family: 'Orbitron', sans-serif;
 font-style: normal;
 font-weight: lighter;
 font-size: 40px;
line-height: 60px;
}

.ricardo{
 position: absolute;
 width: 1000px;
 height: 600px;
 left: 90px;
 top: 180px;
 background-image: url("../public/F1ricardo.png");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.dash33{
  background-image: url("../public/33.png");
 position: absolute;
 width: 210px;
 height: 134px;
 left: 100px;
 top: 206px;
}

.dash33 h2{
 position: absolute;
 width: 500px;
 height: 800px;
 left: -50px;
 top: -170px;
 font-family: 'Orbitron', sans-serif;
 font-weight: bolder;
 font-size: 55px;
 color: #ffff;
 line-height: 60px;
}

.track{
 background-image: url("../public/track.png");
 position: absolute;
 width: 300px;
 height: 163px;
 left: 650px;
 top: 10px;

}

.track p{
 position: absolute;
 width: 61px;
 height: 38px;
 top: 170px;
 margin-left: 5px;
 font-family: 'Racing Sans One', cursive;
 font-style: normal;
 font-weight: normal;
 font-size: 12px;
 line-height: 15px;
 color: rgba(255, 255, 255, 0.6);


}

.track p1{
  position: absolute;
  width: 61px;
  height: 38px;
  left: 100px;
  top: 190px;
  margin-left: 5px;
  font-family: 'Racing Sans One', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.6);
 }

 .track p2{
  position: absolute;
  width: 61px;
  height: 38px;
  left: 210px;
  top: 190px;
  margin-left: 5px;
  font-family: 'Racing Sans One', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.6);
 }

/* Logo container */

h1{
  font-size: 45px;
  margin-top: 35px;
  margin-left: 200px;
  font-weight: bolder;
  float: left;
}

img{
 position: absolute;
 width: 100px;
 height: 100px;
 left: 25px;
 top: 90px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Image */
.image{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 40vh;
  width: 72%;
  background-image: url("../public/tim-carey-QhK_agWFAsE-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1%;
  margin-left: 2%;
  float: left;
}

/* COMPARE PAGE------------------------------------------------------------------------------------------------*/

.driver-names{
  position: absolute;
  width: 375px;
  height: 550px;
  left: 230px;
  top: 250px;
  

}

.driver-one{
  
 position: absolute;
 width: 177px;
 height: 51px;
 left: 762px;
 top: 330px;
 background: rgba(57,57,69);
 box-shadow: inset 0px 4px 40px rgba(0, 0, 0, 0.25);
 border-radius: 25.5px;
 font-family: 'Orbitron', sans-serif;
 color: #ffffff;
}

.driver-two{
position: absolute;
width: 177px;
height: 51px;
left: 1080px;
top: 330px;
background:rgba(57,57,69);
box-shadow: inset 0px 4px 40px rgba(0, 0, 0, 0.25);
font-family: 'Orbitron', sans-serif;
border-radius: 25.5px;
color: #ffffff;
}

.left-panel{
  width: 20%;
  height: 80vh;
  float: left;
  

}

.right-panel{
  width: 15%;
  float: left;
  ;
  
}

.bar{
  position: absolute;
  width: 248px;
  height: 251px;
  left: 722px;
  top: 406px;
  
  background: #9BA3AE;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 45px;
  
}

.pie{
position: absolute;
width: 248px;
height: 251px;
left: 1050px;
top: 406px;

background: #9BA3AE;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
border-radius: 45px;
  
}

.polar-area{
  position: absolute;
  width: 248px;
  height: 251px;
  left: 722px;
  top: 728px;
  
  background: #9BA3AE;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 45px;
}

.Doughnut{
 position: absolute;
 width: 248px;
 height: 251px;
 left: 1050px;
 top: 728px;
 background: #9BA3AE;
 box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
 border-radius: 45px;
}

/* TableItem */

.t-png{
 background-image: url("../public/table.png");
 position: absolute;
 width: 383px;
 height: 245px;
 left: 20px;
 top: -243px;

}

.t-png h1{
 position: absolute;
 width: 369px;
 height: 60px;
 left: -155px;
 top: 156px;
 color: #ffffff;
 font-family: 'Orbitron', sans-serif;
 font-style: normal;
 font-weight: bolder;
 font-size: 25px;
 
}

.t-png h2{
  position: absolute;
  width: 369px;
  height: 60px;
  left: 600px;
  top: 10px;
  color: #393945;
  font-family: 'Orbitron', sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 25px;
  
 }

 .t-png h3{
  position: absolute;
  width: 369px;
  height: 60px;
  left: 730px;
  top: 180px;
  color: #393945;
  font-family: 'Orbitron', sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 25px;
  
 }



.tableItem{
  width: 100%;
  height: 34px;
  border-radius: 3px;
  float: left;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 3px;
  margin-bottom: 1px;
  margin-left: 20px;
  
}

.tableItem p {
  align-items: center;
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 9px;
  margin-left: 40px;
  margin-right: 50px;
  display: flex;
  font-size: 13px;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: hidden;
}

.tableItem p2 {
  margin-left: 236px;
 position: absolute;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
  background-color: #b9afaf;
  margin-top: 7px;
  border-radius: 15px;
  display: table;
  padding: 2px 10px;

  
}

/*Compare*/

.driveOne{
 background-image: url("../public/driveOne.png");
 position: absolute;
 width: 220px;
 height: 250px;
 left: 735px;
 top: 100px;


}

.driveOne p{
 position: absolute;
 color: #ffffff;
 width: 157px;
 height: 60px;
 left: 60px;
 top: 160px;
}

.driveTwo{

  background-image: url("../public/DriveTwo.png");
  position: absolute;
  width: 220px;
  height: 250px;
  left: 1050px;
  top: 87px;

}

.driveTwo p{
  position: absolute;
  color: #ffffff;
  width: 157px;
  height: 60px;
  left: 63px;
  top: 170px;
 }

/* TIMELINE PAGE --------------------------------------------------------------------------------------*/

.Line{
 position: absolute;
 width: 1003px;
 height: 650px;
 left: 277px;
 top: 250px;
 
 

 
}

.Line h1{
  position: absolute;
  width: 569px;
  height: 60px;
  left: 100px;
  top: -200px;
  color: #393945;
  font-family: 'Orbitron', sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 25px;

}



.driver-timeline{
 position: absolute;
 width: 177px;
 height: 51px;
 left: 10px;
 top: -40px;
 background:rgba(57,57,69);
 box-shadow: inset 0px 4px 40px rgba(0, 0, 0, 0.25);
 font-family: 'Orbitron', sans-serif;
 border-radius: 25.5px;
 color: #ffffff;
}









